<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>title</title>
</head>
<body>
	<table>
		<tr th:each="user : ${Users}">
			<td th:text="${user.userid}">아이디</td>
			<td th:text="${user.name}">이름</td>
			<td th:text="${user.password}">비밀번호</td>	
		</tr>
	</table>
</body>
</html>