* {
  padding : 0;
  font-size:15px;
  background-color: #f0e8c8;
}
.wrap{



}

.date {
  width: 100%;
  height: 200px;
  margin-left: 50px;
  margin-right: 10px;

}
.icon {
width: 100%;
height : 150px;
margin-left: 50px;
margin-right: 10px;

font: 1px solid bold;

}
.content {
  width: 100%;
  height: 700px;
  float: left;


}

.leftarrow {
 width: 10%;
 height: 700px;
 float: left;


}

.rightarrow {
width: 10%;
height: 700px;
float: right;

}
.journal{
  width: 80%;
  height: 700px;
  margin-left: 20px;
  text-align: center;
  
}
