<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Journal</title>
    <link rel="stylesheet" href="/Users/hyun/work/temp/jsTest/angularTest/css/main.css" type="text/css">

  </head>

  <script
  src="bundle.js?433"></script>

  <body>
<div class = "wrap" ng-app="myapp" ng-controller="MyController">
    <div class = "date"  ng-bind="title">

    </div>

    <div class="icon">
      icon bar here
      <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
    </div>

    <div class= "content">

      <div class = "leftarrow" ng-click="clickprev()">

        <a href=""><img src='http://www.clker.com/cliparts/P/F/4/j/V/q/transparent-arrow-left-th.png' /></a>


      </div>
      <div class="rightarrow" ng-click="clicknext()">

        <a href=""><img src='http://www.clker.com/cliparts/L/X/7/n/H/j/transparent-arrow-th.png' /></a>

      </div>

      <div class = "journal" >
        <span ng-repeat="t in texts" ng-bind="Comments">내용<br></span> <br>
        <span ng-repeat="t in texts" ng-bind="DiaryDate">날짜<br></span> <br>
      </div>

    </div>


 </div>



  </body>
</html>
