<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Journal</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">

  </head>


  <script
  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!--
  load angular -->  <script
  src="DataService/DataService.js"></script>
  <script
  src="Controller/MyController.js"></script>
  <script
  src="app.js"></script>

  <body>
<div class = "wrap" ng-app="myapp" ng-controller="MyController">
    <div class = "date"  ng-bind="title">

    </div>

    <div class="icon">
      icon bar here
      <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
    </div>

    <div class= "content">

      <div class = "leftarrow" ng-click="clickprev()">

        <a href=""><img src='http://www.clker.com/cliparts/P/F/4/j/V/q/transparent-arrow-left-th.png' /></a>


      </div>
      <div class="rightarrow" ng-click="clicknext()">

        <a href=""><img src='http://www.clker.com/cliparts/L/X/7/n/H/j/transparent-arrow-th.png' /></a>

      </div>

      <div class = "journal" >$scope.comments
        <span ng-repeat="comment in comments" ng-bind="comment.Comments">내용<br></span> <br>

      </div>

    </div>


 </div>



  </body>
</html>
