<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>angular old way</title>

    <script type="text/javascript" src="bundle2.js"></script>

  </head>
  <body ng-app="myapp" ng-controller="MyController">
    <div id="container" >
      <h1>hi {{result02}} </h1>
          <h1 class="head"> Hello </h1>
          <button ng-click="setDatafromScope()"> show me</button>
          <div class="click" >His name is {{result01.name}} .</div>
          <div class="click" >He is member of {{result01.team}} .</div>
          <div class="click" >{{result01.backNum}} is his backnumber. </div>
          <div class="click" >He is {{result01.male}} {{result01.position}}</div>

          <button ng-click="setDatafromScope01()"> Click Here</button>
          <div class="click" >{{result02}}</div>

        </div>
      </body>
    </html>
