.left{
  left: -400px;
  top: 200px;
}

.centre{
  left: 200px;
  top: 200px;
}

.right{
  left: 800px;
  top: 200px;
}

.slide-animate{
  -webkit-transition: left 2s;
}


#container{
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  background-color: yellow;
  text-align: center;
  position: relative;
  margin: 0 auto;
  z-index: 1;

}

#container.hide{
  opacity: 0;
  background-color: black;
}
#div1{
  width: 600px;
  height: 600px;
  position: absolute;
  background-color: red;

  overflow: hidden;
  z-index: 3;
}
#div2{
  width: 600px;
  height: 600px;
  position: absolute;
  background-color: cyan;
  float: left;

  overflow: hidden;
  z-index: 3;
}
/*#div2:hover {
  background-color: #FFCCCC;
  width:1000px;
  height:1000px;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  left:0px;
  top:0px
}*/
#div3{
  width: 600px;
  height: 600px;
  position: absolute;
  background-color: green;
  float: left;

  overflow: hidden;
  z-index: 3;

}
#leftArrow{
  float: left;
  transform: 3s;
}
#leftArrow:active{
  float: left;
  transform: 3s;
}
#rightArrow{
  float: right;
}
#rightArrow:active{
  float: right;
}
